
<div class="container-fluid">
  <div class="row">
    <div class="card-content teal lighten">


      <div class="col s12">
        <div class="card teal lighten-2">
          <h2>About XYZPharma</h2>
          <hr>
          <div class="card-action">
            <p>Became a public company in 1987 and is well knozn for its cost-effective manufacturing capabilies 
              and a bunch of customers. The company also entered the high margin specialty<br> generic formulationssegment.
              The formulation business is regularly organized with a divisional structure and has a focused team for international
              markets. The formulations are<br>designed to meet the requirements of both advanced as well as emerging market oppprtunities.
              Being in the top 2 Pharmaceutical companies in india for the consolidted<br>revenues.XYZPharma exports to over 124 conutries
              across the world with around 92% of revenues acquired form international operations.
              
            </p>


          </div>
        </div>
        <div class="card teal lighten-2 ">
          <h2>Awards</h2>
          <hr>
          <div class="card-action">
            <ul style="list-style-type:disc;">
              <li>Conferred with the Pharmaproficient Gold Award for New Chemical Entities 2000</li>
              <li>WPF crowns XYZPharma as the Best Pharma Company in Emerging Market ar World Pharmaceutical Awards 2012 in London</li>
              <li>XYZPharma receives the Indian Chamber of Commerce and Industry Civic Award 2016 </li>
              <li>Indian Medicament Manufacturers' Association(IMMA)Corporate Citizen Award 2019 To XYZPharma</li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>