<div class="container-fluid">
<div class = "row">
    <div class="col s10 l5 offset-l5">
         <div class="card">
            <div class="card-action teal lighten-2">
                  <div class="center"> 
                <h6>Login to continue  </h6>
            </div>
            </div>
            <div class="card-content ">
            <div class = "form-field">
                <label for="email">Email</label>
                <input type="text" id="email" [(ngModel)]="email"/>
            </div><br>
            <div class = "form-field">
                <label for="password ">Password</label>
                <input type="text" id="password" [(ngModel)]="password" />
            </div>
            <br>
            <div class="col s12">
            <div class = "form-field col s6">
                <input type="checkbox"/>
                <span>Remember me</span>  
            </div>
           
            <div class="right-align col s6">
                <a href="register.html" class=""  style="font-size:13px;">Forget Password?</a>
            </div>
            <br>
            </div>
            <br>
            <br>
            <br>
            <div class = "form-field">
                <button 
                 type="submit" name="login" id="" value="Login" class="btn waves-effect waves-light " 
                style="width:100%; border-radius: 25px;"(click)="login()">login
                </button>  
            </div>
            <br>
            <div class="center">
            <a href="register.html" class=""  style="font-size:13px;">Or sign up using</a>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
