
<div class="container-fluid">
<div class="row">

    <div class="col s6 m12">
      <div class="card">
      <div class="card-image">
        
          <img src="assets/images/phar.jpg" />

      </div>
    </div>
  </div>
</div>
  <section class="container-fluid col box-container">
  <div class="row">
    <div class="card-content teal lighten">
    <div class="col s12">
      
    <div class="col s7">
      <div class="card teal lighten-2 ">
     <h4>Visiov</h4> 
     <p>To be one of the world's most innovative, best doing, and committed pharmaceitical company.</p>
     
  
    <br>
      </div>
      <div class="card teal lighten-2">
      <h4>Mission</h4> 
      <p>To provide the best quality products to people of the world. To commit ourselves for humanity's search
        for longer, healthies, happier lives though innovation in medicaicines.</p>

      </div>
    </div>
  
    
    <div class="col s5">
      <div class="card teal lighten-2">
        <h4>Why Us</h4>
        <p>
          Good health is indeel the most valuable thing for everyone. 
          And for more than 100 years, we are with the people of the world 
          for laying the foundation of vibrant lives. Today, as the world's
          largest and most extended healthcare company,we are bound to use our
          reach and size for good. We diligently <br>attempt to improve access And
          affordability, create healthier communities,<br> and help people attain their
          best health atbevery life staage and help people attain their
          best health atbevery life staage happier lives though innovation in medicaicines.

        </p>
      </div>
      </div>
    </div>
  </div>
  </div>
  </section>
 
  <!--<app-footer></app-footer>-->


